    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rixxtr" />
    <meta name="twitter:creator" content="@rixxtr" />
    <meta name="og:title" content="{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="og:description" content="{% if page.summary %}{{ page.summary }}{% else if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="og:image" content="{{ site.baseurl }}{{ site.url }}/assets/images/ramble.png" />

    <link rel="shortcut icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="/assets/fonts.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
