@import "reset";

body {
    font-family: sans-serif;
    color: #404040;
}

main, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 32px auto;
    #social {
        margin-top: 12px;
        a {
            text-decoration: none;
        }
    }

}

header, article {
    width: 70ch;
    max-width: 100%;
    padding: 0 20px 50px 20px;
}

article {
    line-height: 1.8;
}

a {
    text-decoration: underline;
    color: #404040;
}
h2 a {
    text-decoration: none;
}
pre {
    display: flex;
    justify-content: center;
    line-height: 1.1;
    margin: 20px 0;
}
code {
    overflow-x: auto;
    max-width: 100%;
}
blockquote {
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    margin: 30px 60px;
    line-height: 1.5;
}
.center {
    text-align: center;
}
