<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
  <header>

    <a href="/"><h1>ramble.rixx.de</h1></a>
    <h3 id="tagline">All Opinions Wrong But Useful</h3>
    <p></p>
    <div id="social">
      <a href="/bibliography.html">Bibliography</a> · <a rel="me" href="https://chaos.social/@rixx">@rixx@chaos.social</a> · <a href="https://twitter.com/rixxtr">@rixxtr</a></div>
  </header>
  <nav>
  </nav>
  <main>
    <article>
{{ content }}
    </article>
  </main>
  <footer>
  </footer>
</body>
</html>
