<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
  <header>
    <a href="/"><img src="/assets/images/ramble.svg"></a><br>
    <h3>
      All Opinions Wrong But Useful · <a href="/bibliography.html">Bibliography</a>
    </h3>
    <p></p>
    <div id="social"><a rel="me" href="https://chaos.social/@rixx">@rixx@chaos.social</a> · <a href="https://twitter.com/rixxtr">@rixxtr</a></div>
  </header>
  <nav>
  </nav>
  <main>
    <article>
{{ content }}
    </article>
  </main>
  <footer>
  </footer>
</body>
</html>
