---
layout: page
---
      <h2>{{ page.title }}</h2>
      <p class="meta">{{ page.date|date:"%Y-%m-%d" }}</p>

        {{ page.content }}

    {% assign related_by = "" %}
    {% assign is_related_by = false %}
    {% for other_post in site.posts %}
        {% if other_post.related contains page.slug %}
            {% assign is_related_by = true %}
            {% capture related_by %}
                {{ related_by }}
                <li><a href="{{ other_post.url }}">{{ other_post.title }}</a></li>
            {% endcapture %}
        {% endif %}
    {% endfor %}

    {% if is_related_by %}
    <h3>This post is linked to from:</h3>
    <ul>{{ related_by }}</ul>
    {% endif %}
